/* BEGIN Style Reset */
  html, body, div, span, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote,
  abbr, address, cite,
  del, dfn, em, img, ins, kbd, q, samp,
  small, strong, var,
  b, i,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, figcaption, figure,
  footer, header, hgroup, menu, nav, section, summary,
  time, mark, audio, video {
      margin: 0;
      padding: 0;
      border: 0;
      outline: 0;
      font-size: 100%;
      font-weight: normal;
      vertical-align: baseline;
      background: transparent;
  }

  body {
    background-color: white;
    overflow-x: hidden;
  }

  p {
    line-height: 1.2;
  }

  b, strong {
    font-weight: bold;
  }

  body {
      line-height: 1;
  }

  article,aside,details,figcaption,figure,
  footer,header,hgroup,menu,nav,section,label {
      display: block;
  }

  nav ul {
      list-style: none;
  }

  a {
      margin: 0;
      padding: 0;
      font-size: 100%;
      vertical-align: baseline;
      background: transparent;
  }

  del {
      text-decoration: line-through;
  }

  abbr[title], dfn[title] {
      border-bottom: 1px dotted;
      cursor: help;
  }

  table {
      border-collapse: collapse;
      border-spacing: 0;
  }

  /* TODO change border colour to suit your needs */
  hr {
      display: block;
      height: 1px;
      border: 0;
      border-top: 1px solid #cccccc;
      margin: 1em 0;
      padding: 0;
  }

  input, select {
      vertical-align: middle;
  }

  *, *::before, *::after {
    box-sizing: border-box;
  }

  img {
    max-width: 100%;
  }
/* END Style Reset */
